# You can copy this into your ~/.config/systemd/user directory and then
# systemctl --user enable --now display-switch.service. Be sure to install and
# edit the configuration file into ~/.config/display-switch or /etc/display-switch/

[Unit]
Description=Monitor USB bus to control monitor inputs

[Service]
Type=exec
ExecStart=go-display-switch
Restart=on-failure

[Install]
WantedBy=default.target
